.header-container {
  display: flex;
  gap: 5px;
  padding: 20px;
  width: 100%;
  background-color: #6AADDD;
  border: 1px solid #6AADDD;
  align-items: center;
  justify-content: space-between;
  font-family: 'Lexend', sans-serif;
  max-width: 100%;
}

.header-logo {
  font-size: 24px;
  color: #1a202c;
  cursor: pointer;
}

.header-menu {
  display: flex;
  gap: 15px;
  flex-grow: 1;
  justify-content: center;
  font-size: 18px;
  color: white; /* Set font color to white */
}

.header-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 12px 20px;
  position: relative;
  transition: color 0.3s ease;
}

.header-menu-item .menu-text {
  color: white; /* Set font color to white */
  text-decoration: none; /* Remove underline */
}

.header-menu-item.selected .menu-text {
  font-weight: bold;
  color: white; /* Set font color to white */
}

.header-menu-item .indicator {
  width: 100%;
  height: 2px;
  background-color: transparent; /* Hide the indicator */
  position: absolute;
  bottom: 0;
  left: 0;
  transition: height 0.3s ease;
}

.header-menu-item:hover .indicator {
  height: 0; /* Ensure the indicator doesn't appear on hover */
}

.header-menu-item:hover .menu-text {
  color: white; /* Ensure hover color remains white */
}

@media (max-width: 768px) {
  .header-container {
    flex-wrap: wrap;
    padding: 10px;
  }

  .header-menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header-menu-item {
    padding: 10px;
    width: 100%;
    text-align: center;
  }
}
