.MainContent {
  text-align: center;
  padding: 50px 20px;
}

.MainContent h1 {
  font-size: 36px;
  margin-bottom: 170px;
}

.MainContent-image img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
